*{
    padding: 0;
    margin: 0
    box-sizing border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url(img/tierra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    height: 100vh;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    position: relative;
}
.logo{
    font-weight:600;
    font-size: 3.8rem;
    color: aliceblue;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
ul li{
    display: inline-block;
    list-style: none;
    padding: 6px 30px;
   font-weight: 500;
   font-size: 2.3rem;
   transition:all 0.7s ease 0s;
   cursor: pointer;
   color: aliceblue;
}
a{
    text-decoration: none;
    color: white
}
ul li:hover{
  border-radius: 20px;
  background-color: rgb(41, 189, 41);
  color: white;
}
head{
    background-color: darkgreen;
}
.tabla-1 {
    position: absolute;
    top: 177;
    right: 250;
    color: white;
    font-weight: 400;
}
header{
    position: absolute;
    bottom: 10%;
    padding: 0 50px;
    color: aliceblue;
}
header h1{ 
    font-size: 7rem;
}
header h2{ 
    font-size: 4rem;
}
header p{ 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
header button{ 
    padding: 0 5px;
    width: 140px;
    outline: none;
    border: 0;
    height: 40px;
    font-weight: 500;
    background-color: forestgreen;
    transition: width 0;
    cursor: pointer;
    border-radius: 20px;
    color: aliceblue;
}
header button img{ 
   display: none;
}
header button:hover img{ 
    display: block;
}
header button:hover{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
}
footer{
    background-color: black;
}