*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.logo{
    font-weight:600;
    font-size: 2.3rem;
    color: aliceblue;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
ul li{
    display: inline-block;
    list-style: none;
    padding: 6px 30px;
   font-weight: 500;
   font-size: 1.6rem;
   transition:all 0.7s ease 0s;
   cursor: pointer;
   color: aliceblue;
}
a{
    text-decoration: none;
    color: white
}
ul li:hover{
  border-radius: 20px;
  background-color: rgb(41, 189, 41);
  color: white;
}

body {
    background-image: url("../img/post-dudas-economia-ecologica.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #454242;

}
.super-container{
    display:flex;  
    justify-content: center;

}

.container {
    width: 600px;
    height: 700px;
    background-color: #f0e8e8;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 130px;
}
.container h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
    color:green;
    
}
.container h2{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 22px;
    color:green;
}
.container h3{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

input[type="file"]{
    background-color: #f0e8e8;
    border: none;
    outline: none;
    font-size: 1.0rem;
    font-weight: 500;   
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #5d5959;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 1.0rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
    margin-top: 20px;
}
.container input[type="submit"]:hover{
    background-color: #454242;
}
.container option{
    font-size: 0.9rem;
    font-weight: 500;
}
.imagen-form{
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 10%;
}
